html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    padding: 20px;
    background-color: #e3f2fd;
    flex: 1;
}

body {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2, h3 {
    color: #0055a4;
    border-left: 4px solid #ff9b00;
    padding-left: 10px;
    margin-top: 20px;
}

.ferramentas ul, .recursos ul {
    list-style-type: disc;
    padding-left: 20px;
}

.ferramentas li, .recursos li {
    margin-bottom: 10px;
}

.ferramentas a, .recursos a {
    color: #0055a4;
    text-decoration: none;
}

.ferramentas a:hover, .recursos a:hover {
    text-decoration: underline;
}   