.inicio {
    text-align: center;
    padding: 20px;
    background-color: #e3f2fd;
}

.inicio h2 {
    color: #0055a4;
}

.inicio_img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

.sobre_nos {
    padding: 20px;
    background-color: #f9f9f9;
}

.sobre_nos ul {
    padding-left: 20px;
    list-style: disc;
}

.beneficios_container {
    background-color: #e8f5e9;
    padding: 10px;
}

.beneficios_container div {
    text-align: center;
}

.beneficios_container h2{
    color: #0055a4;
}

.beneficios {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.beneficio {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 30%;
    min-width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.beneficio h3 {
    color: #0055a4;
    margin-bottom: 10px;
}

.beneficio p {
    font-size: 14px;
}

.sobre_nos {
    background-color: #f4f8fc; 
    padding: 30px;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sobre_nos h2 {
    color: #0055a4;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.sobre_nos p {
    color: #333;
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 15px;
}

.sobre_nos ul {
    margin-top: 20px;
    padding-left: 20px;
    list-style: disc;
}

.sobre_nos li {
    margin-bottom: 10px;
    font-size: 1.1em;
    display: flex;
    align-items: flex-start;
    min-height: 50px;
}

.sobre_nos li strong {
    width: 200px;
    flex-shrink: 0;
    color: #0055a4;
    font-weight: bold;
}

.sobre_nos li span {
    flex-grow: 1;
}

.sobre_nos ul li::marker {
    color: #0055a4;
}

@media (max-width: 768px) {
    .sobre_nos {
        padding: 20px;
    }

    .sobre_nos h2 {
        font-size: 1.5em;
    }

    .sobre_nos p,
    .sobre_nos li {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .beneficio {
        width: 100%;
    }
}
