html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    padding: 20px;
    background-color: #e3f2fd;
    flex: 1;
}

body {  
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    justify-content: space-between; /* Mantém o header no topo e o footer no final */
}

h2, h3 {
    color: #0055a4;
    border-left: 4px solid #ff9b00;
    padding-left: 10px;
    margin-top: 20px;
}

.tools ul, .resources ul {
    list-style-type: disc;
    padding-left: 20px;
}

.tools li, .resources li {
    margin-bottom: 10px;
}

.tools a, .resources a {
    color: #0055a4;
    text-decoration: none;
}

.tools a:hover, .resources a:hover {
    text-decoration: underline;
}   